<div class="sources">
  <a
    data-toggle="collapse"
    href="#collapse-sources"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
    class="text-body font-weight-bold"
    >+ Sources:
  </a>
  <div class="collapse" id="collapse-sources">
    Conversion of Natural Gas to Gigajoules (m3 to GJ) multiply m3 by 0.0373
    <span class="text-danger"
      >(source: https://www.nrcan.gc.ca/energy/natural-gas/
      5641#conversion)</span
    >
    <br />
    Conversion of GigaJoules to kWhr (GJ>kWh) multiply GJ by 277
    <span class="text-danger"
      >(source:
      https://www.nrcan.gc.ca/energy/natural-gas/5641#conversion)</span
    >
    <br />
    Conversion of Square Feet to Square Metres: Multiply sf by 10.7639
    <br />
    Conversion Factor for MTCO2 from m3 of natural Gas (Direct & Inderect)
    Multiply m3 by 0.00263
    <span class="text-danger"
      >(Source: Environment Canada, Emission Factors from Canada’s GHG
      Inventory. Available at: http://www.ec.gc.ca/ges-ghg/)</span
    >
    <br />
    Calculate your Carbon Footprint from Electricity (Ontario only) Multiply kWh
    by 0.00004
    <span class="text-danger"
      >(Source: https://calculator.carbonfootprint.com/
      calculator.aspx?tab=2)</span
    >
    <br />
    Wood heat conversion factor: 1,000kWh/m3
    <span class="text-danger"
      >(Source:
      http://seacourse.dk/wiki/tiki-index.php?page=Calculating+in+KWh)</span
    >
    <br />
    Convert GtCarbon to CO2ppm Atmospheric: 1ppm = 7.81GtCO2 and 1ppmCO2a =
    2.13Gt unburned carbon.
    <span class="text-danger"
      >(Source: https://www.skepticalscience.com/ print.php?r=45 )</span
    >
    <br />
    2795Gt of Carbon then equates to 1312.2ppmCO2a
    <span class="text-danger"
      >(‘business as usual’ case scenario per IPCC RCP8.5, 2018)</span
    >
    <br />
    *2795Gt is the worst case TOTAL scenario for 5ºC of warming (per ICPP
    RCP8.5), and 15% of 2795Gt is 419.25Gt CO2 (the percentage attributable
    globally to buildings). This by the way is an endgame scenario – and would
    lead to runaway warming. So if everyone lived like me, we’d hit that ceiling
    in the number of years indicated above. Fortunately for all of us,
    development does not happen so fast, especially due to climate change
    itself. Canadian Residential Sector Energy Use:
    <span class="text-danger"
      >http://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?
      type=CP&sector=res&juris=ca&rn=1&page=0</span
    >
  </div>
</div>
