/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: 6rem !important;
}
h2 {
  font-size: 5rem !important;
}
h3 {
  font-size: 3rem !important;
}
h4 {
  font-size: 2rem !important;
}
.btn-dark {
  border-radius: 0 !important;
}
.form-control {
  border-radius: 0 !important;
}
.border-dotted {
  border-style: dotted !important;
  border-color: #ced4da;
}
.opacity-60 {
  opacity: 0.75;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-30 {
  opacity: 0.4;
}
